{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">Add New item </legend>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.flags.required %}<span class="required-field">*</span>
                    {% endif %}
                    {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.sort_order.label(class="form-control-label") }}{% if form.sort_order.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.sort_order.errors %}
                    {{ form.sort_order(class="form-control form-control-md is-invalid", type="number", increment=1) }}
                    <div class="invalid-feedback">
                        {% for error in form.sort_order.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.sort_order(class="form-control form-control-md", type="number", increment=1) }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.stars.label(class="form-control-label") }}{% if form.stars.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.stars.errors %}
                    {{ form.stars(class="form-control form-control-md is-invalid", type="number", increment=1) }}
                    <div class="invalid-feedback">
                        {% for error in form.stars.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.stars(class="form-control form-control-md", type="number", increment=1) }}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.flags.required %}
                    <span class="required-field">*</span>
                    {% endif %}
                    {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-md is-invalid", rows=3) }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.description(class="form-control form-control-md", rows=3) }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}