{% extends "layout.html" %}
{% block content %}
{% if todo_items %}
<div class="content-section">
    <h2>Existing Data</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Title</td>
                <td>Description</td>
                <td>Status</td>
                <td>Priority</td>
                <td>Urgency</td>
                <td>Date Created</td>
                <td>Scheduled Date</td>
                <td>Estimated Duration</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for todo_item in todo_items %}
            <tr>
                <td>{{ todo_item.id }}</td>
                <td>{{ todo_item.title }}</td>
                <td>{{ todo_item.description }}</td>
                <td>{{ todo_item.task_status.name }}</td>
                <td>{{ todo_item.task_priority.name }}</td>
                <td>{{ todo_item.task_urgency.name }}</td>
                <td>{{ todo_item.date_created }}</td>
                <td>{{ todo_item.scheduled_date}}</td>
                <td>{{ todo_item.estimated_duration_hours}} Hours and {{todo_item.estimated_duration_minutes}} minutes
                </td>
                <td>
                    <a class="btn btn-warning"
                        href="{{url_for('todolists.edit_todoitem', todoitem_id=todo_item.id)}}">Edit/Update</a>
                </td>
                <td>
                    <form action="{{url_for('todolists.delete_todoitem', todoitem_id=todo_item.id)}}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="content-section">
    <h2>No Items found</h2>
</div>
{% endif %}
<div class="Add new Item">
    <a class="btn btn-primary" href="{{ url_for('todolists.todoitem_new', todolist_id=todo_list.id) }}">Add new Item</a>
</div>
{% endblock content %}