{% extends "layout.html" %}
{% block content %}
<script src="{{ url_for('static', filename='scripts/app/todoListDetails.controller.js')}}"></script>
<div class="todo-items-container" ng-controller="todoListDetailsController">
    {% if todo_items and todo_items.total > 0 %}
    <div class="content-section">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-9">
                        <h3>{{todo_list.title}}</h3>
                        {% for status, status_id, style_class, item_count in todo_items_group %}
                            {% if item_count > 0 %}
                                <span class="badge badge-pill {{style_class}}"><a style="color: inherit;" href="{{url_for('todolists.todolist_details', todolist_id=todo_list.id, status_id=status_id)}}">{{status}} : {{item_count}}</a></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary mb-4" title="Add New"
                            href="{{ url_for('todolists.todoitem_new', todolist_id=todo_list.id) }}">Add New <i
                                class="fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2">
                        <span>Pages</span>
                    </div>
                    <div class="col-md-10 table-paginator">
                        {% for page_num in todo_items.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num %}
                        {% if todo_items.page == page_num %}
                        <a class="btn btn-info mb-4"
                            href="{{ url_for('todolists.todolist_details',todolist_id=todo_list.id ,page=page_num, pagesize='5')}}">{{ page_num }}</a>
                        {% else %}
                        <a class="btn btn-outline-info mb-4"
                            href="{{ url_for('todolists.todolist_details',todolist_id=todo_list.id, page=page_num, pagesize='5')}}">{{ page_num }}</a>
                        {% endif %}
                        {% else %}
                        ...
                        {% endif %}
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive-md">
            <span class="badge badge-primary pull-right">Total Items: {{ todo_items.total }}</span>
            <table class="table table-bordered table-hover table-sm" style="table-layout: fixed; text-align: start;">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 200px;">Title</th>
                        <th style="width: 300px;">Description</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Urgency</th>
                        <th>Scheduled Date</th>
                        <th>Estimated Duration</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_item in todo_items.items %}
                    <tr class="{{todo_item.task_status.style_class}}">
                        <td> {{ todo_item.title }} </td>
                        <td>{{ todo_item.description }}</td>
                        <td>{{ todo_item.task_status.name }}</td>
                        <td>{{ todo_item.task_priority.name }}</td>
                        <td>{{ todo_item.task_urgency.name }}</td>
                        <td>{{ todo_item.scheduled_date.strftime("%d %B %Y") }}</td>
                        <td>{{ todo_item.estimated_duration_hours}}h {{todo_item.estimated_duration_minutes}}m
                        </td>
                        <td>
                            <form action="{{url_for('todolists.delete_todoitem', todoitem_id=todo_item.id)}}"
                                method="POST">
                                <span><a href="{{url_for('todolists.edit_todoitem', todoitem_id=todo_item.id)}}"
                                        class="btn" title="Edit Item"><i class="fas fa-edit" style="color: azure;"
                                            aria-hidden="true"></i></a></span>
                                <!-- <button type="submit" class="btn"><i class="fas fa-trash-alt" style="color: azure;"
                                        title="Delete Item"></i></button> -->
                                <md-button ng-click="showConfirm($event, {{ todo_item.id }} )"
                                    class="md-primary md-raised">
                                    Delete
                                </md-button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="content-section">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <h3>{{todo_list.title}}</h3>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary mb-4 pull-right" title="Add New"
                        href="{{ url_for('todolists.todoitem_new', todolist_id=todo_list.id) }}">Add New <i
                            class="fas fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <h2 class="text-center">
            < No Items to display>
        </h2>
    </div>
    {% endif %}
</div>
{% endblock content %}