{% extends "layout.html" %}
{% block content %}
{% if contacts %}
<div class="content-section">
    <h2>Existing Data for {{ titile }}</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>EmailId</td>
                <td>PhoneNumber</td>
                <td>IsPrivate</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.first_name}}, {{ contact.middle_name }} {{ contact.last_name }}</td>
                <td>{{ contact.email_id }}</td>
                <td>{{ contact.phone_number }}</td>
                <td> {{ contact.is_private}} </td>
                <td>
                    <!-- <a class="btn btn-warning"
                        href="{{url_for('todolists.edit_urgency', urgency_id=contact.id)}}">Edit</a> -->
                    <a class="btn btn-warning" href="#">Edit</a>
                </td>
                <td>
                    <!-- <form action="{{url_for('todolists.delete_urgency', urgency_id=contact.id)}}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form> -->
                    <form action="#" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="content-section">
    <h2>No entries found</h2>
</div>
{% endif %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form.contact_type.label(class="form-control-label") }}{% if form.contact_type.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.contact_type.errors %}
                    {{ form.contact_type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.contact_type.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.contact_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form.first_name.label(class="form-control-label") }}{% if form.first_name.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.first_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.middle_name.label(class="form-control-label") }}{% if form.middle_name.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.middle_name.errors %}
                    {{ form.middle_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.middle_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.middle_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.last_name.label(class="form-control-label") }}{% if form.last_name.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.last_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form.image_url.label(class="form-control-label") }}{% if form.image_url.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.image_url.errors %}
                    {{ form.image_url(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.image_url.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.image_url(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.email_id.label(class="form-control-label") }}{% if form.email_id.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.email_id.errors %}
                    {{ form.email_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email_id.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.phone_number.label(class="form-control-label") }}{% if form.phone_number.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.phone_number.errors %}
                    {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phone_number.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.phone_number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <div class="form-check">
                        {{ form.is_private(class="form-check-input") }}
                        {{ form.is_private.label(class="form-check-label") }}
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}