{%- macro PaginatorV1(pagination_object, view_name, page_size) -%}
<div class="row">
    <div class="col-md-12">
        <nav aria-label="Page navigator">
            <ul class="pagination">
                {% if pagination_object.has_prev %}
                <li class="page-item">
                    <a class="page-link"
                        href="{{ url_for(view_name, page=pagination_object.prev_num, pagesize=page_size) }}">
                        <span aria-hidden="true">&laquo;</span></a>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link btn disabled" href="#">
                        <span aria-hidden="true">&laquo;</span></a></a></li>
                {% endif %}

                {% for page_num in pagination_object.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                {% if pagination_object.page == page_num %}
                <li class="page-item"><a class="page-link btn disabled"
                        href="{{ url_for(view_name, page=page_num, pagesize=page_size)}}">{{page_num}}</a>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link"
                        href="{{ url_for(view_name, page=page_num, pagesize=page_size)}}">{{page_num}}</a>
                </li>
                {% endif %}
                {% else %}
                ...
                {% endif %}
                {% endfor%}
                {% if pagination_object.has_next %}
                <li class="page-item"> <a class="page-link"
                        href="{{ url_for(view_name, page=pagination_object.next_num, pagesize=page_size) }}">
                        <span aria-hidden="true">&raquo;</span></a>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link btn disabled" href="#">
                        <span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{%- endmacro %}