{% extends "layout.html" %}
{% block full_content %}
<section id="cover">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 mx-auto text-center form p-4">
            <div class="content-section">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Log In</legend>
                        <div class="form-group">
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid", placeholder="User name/Email") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control form-control-lg", placeholder="User name/Email") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Password") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                            {% endif %}
                        </div>
                        <div class="form-check">
                            {{ form.remember(class="form-check-input") }}
                            {{ form.remember.label(class="form-check-label") }}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary btn-lg", style="width: 100%")}}

                    </div>
                </form>
                <div class="border-top pt-3">
                    <div>
                        <small class="text-muted ml-2">
                            <a href="{{url_for('users.reset_request')}}">Forgot Password?</a>
                        </small>
                    </div>
                    <div>
                        <small class="text-muted">
                            Need An Account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up now</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock full_content %}
{% block footer%}
{% endblock %}
{% block sidebar %}
{% endblock %}