{% extends "layout.html" %}
{% block content %}
{% if expenses.total > 0 %}
<script src="{{ url_for('static', filename='scripts/app/controllers/expenses/expenses.controller.js')}}"></script>
<div class="content-section" ng-controller="expensesController">
  <div class="row">
    <div class="col-md-6">
      <h3>All Expenses - {{ total_expense | conv_curr_inr }}</h3>
    </div>
    <div class="col-md-6">
      <a class="btn btn-primary mb-4 pull-right" title="Add New" href="{{ url_for('expenses.add_expenses') }}">Add New
        <i class="fas fa-plus-circle"></i></a>
      <a href="{{ url_for('expenses.print_view') }}" target="_blank" id="openPrintView">Open Print View</a>
      <script>
        document.getElementById('openPrintView').addEventListener('click', function(event) {
            event.preventDefault();
            window.open(this.href, '_blank', 'width=600,height=600');
        });
    </script>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Filters: {% for expense_filter in expense_filters %}
      <span class="badge badge-info">{{ expense_filter }}</span>
      {% endfor %}
    </div>
  </div>
  {% import 'shared/_pagination.macros.html' as pagination_macro %}
  <div class="row">
    <div class="col-md-10">
      {{ pagination_macro.PaginatorV1(expenses, 'expenses.current_expenses',
      5)}}
    </div>
    <div class="col-md-2">
      <span class="badge badge-primary pull-right">Total Items: {{ expenses.total }}</span>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td>Title</td>
        <td>Expense Date</td>
        <td>Type</td>
        <td>Category</td>
        <td>Contact Name</td>
        <td>Expense Amount</td>
        <td>Description</td>
        <td>Items</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      {% for expense in expenses.items %}
      <tr>
        <td>{{ expense.title }}</td>
        <td>{{ expense.expense_date_time.strftime("%b %d %Y %I:%M %p") }}</td>
        <td>{{ expense.expense_type.name }}</td>
        <td>{{ expense.expense_category.name }}</td>
        <td>{{ expense.contact.first_name }}</td>
        <td>{{ expense.expense_amount | conv_curr_inr}}</td>
        <td>{{ expense.description }}</td>
        <td>
          {% if expense.expense_details %}{{ expense.expense_details|length }}
          {% else %} -- {% endif %}
        </td>
        <td>
          <span><a href="{{url_for('expenses.edit_expenses', expense_id=expense.id)}}" class="btn"
              title="Edit expense"><i class="far fa-edit"></i></a></span>
          <span><a href="{{url_for('expenses.details', expense_id=expense.id)}}" class="btn" title="Add sub Item"><i
                class="far fa-plus-square"></i></a></span>
          <span><a href="#" ng-click="showConfirm($event, {{ expense.id }} )" class="btn" title="Delete Item"><i
                class="fas fa-trash-alt" style="color: chocolate"></i></a></span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="content-section">
  <div class="row">
    <div class="col-md-8">
      <h3>No items found</h3>
    </div>
    <div class="col-md-4">
      <a class="btn btn-primary mb-4 pull-right" title="Add New" href="{{ url_for('expenses.add_expenses') }}">Add New
        <i class="fas fa-plus-circle"></i></a>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
{% block sidebar %}
{% import 'expenses/_expenses.macros.html' as forms %}
{{ forms.expenseFilter(form,legend)}}
{% endblock sidebar%}