{%- macro expenseHeader(expense) -%}
<article class="media content-section">
    <img src="{{ url_for('static', filename='profile_pics/' + expense.created_by.image_file) }}"
        class="rounded-circle article-img">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('expenses.current_expenses')}}">{{ expense.title }}</a>
            <small class="text-muted">{{ expense.expense_date_time.strftime("%b %d %Y %I:%M %p") }}</small>
            <div>
                <span><a href="{{url_for('expenses.edit_expenses', expense_id=expense.id)}}" class="btn"
                        title="Edit expense"><i class="far fa-edit"></i></a></span>
                <span><a href="{{url_for('expenses.details', expense_id=expense.id)}}" class="btn"
                        title="Add sub Item"><i class="far fa-plus-square"></i></a></span>
                <span><a href="#" ng-click="showConfirm($event, {{ expense.id }} )" class="btn" title="Delete Item"><i
                            class="fas fa-trash-alt" style="color: chocolate;"></i></a></span>
            </div>
        </div>
        <p class="article-content">Type: {{ expense.expense_type.name }}</p>
        <p class="article-content">Category: {{ expense.expense_category.name }}</p>
        <p class="article-content">First Name: {{ expense.contact.first_name }}</p>
        <p class="article-content">Amount: {{ expense.expense_amount }}</p>
        <p class="article-content">Description: {{ expense.description }}</p>
        <p class="article-content">Items: {% if expense.expense_details %}{{ expense.expense_details|length }}
            {% else %} -- {% endif %}</p>
    </div>
</article>
{%- endmacro %}

{%- macro expenseFilter(form, legend) -%}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form.contact_id.label(class="form-control-label") }}{% if form.contact_id.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.contact_id.errors %}
                    {{ form.contact_id(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.contact_id.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.contact_id(class="form-control form-control-md") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form.type_id.label(class="form-control-label") }}{% if form.type_id.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.type_id.errors %}
                    {{ form.type_id(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.type_id.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.type_id(class="form-control form-control-md") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form.category_id.label(class="form-control-label") }}{% if form.category_id.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.category_id.errors %}
                    {{ form.category_id(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.category_id.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.category_id(class="form-control form-control-md") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.from_date.label(class="form-control-label") }}{% if form.from_date.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.from_date.errors %}
                    {{ form.from_date(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.from_date.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.from_date(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {{ form.to_date.label(class="form-control-label") }}{% if form.to_date.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.to_date.errors %}
                    {{ form.to_date(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.to_date.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.to_date(class="form-control form-control-md") }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{%- endmacro %}

{%- macro add_expense_detail_form(form, legend, expense_id, form_class, action_name) %}
<div class="content-section">
    <form method="POST" action="{{action_name}}" class="{{form_class}}">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">{{ legend }} </legend>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form.item_name.label(class="form-control-label") }}
                    {% if form.item_name.flags.required %}<span class="required-field">*</span>
                    {% endif %}
                    {% if form.item_name.errors %}
                    {{ form.item_name(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.item_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.item_name(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-2">
                    {{ form.uom_id.label(class="form-control-label") }}{% if form.uom_id.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.uom_id.errors %}
                    {{ form.uom_id(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.uom_id.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.uom_id(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-2">
                    {{ form.quantity.label(class="form-control-label") }}{% if form.quantity.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.quantity.errors %}
                    {{ form.quantity(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.quantity.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.quantity(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-2">
                    {{ form.unit_price.label(class="form-control-label") }}{% if form.unit_price.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.unit_price.errors %}
                    {{ form.unit_price(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.unit_price.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.unit_price(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-2">
                    {{ form.gross_price.label(class="form-control-label") }}{% if form.gross_price.flags.required %}<span
                        class="required-field">*</span>{% endif %}
                    {% if form.gross_price.errors %}
                    {{ form.gross_price(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.gross_price.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.gross_price(class="form-control form-control-md") }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{%- endmacro %}