<div class="app-footer">
    <div class="row footer-row">
        <div class="col footer-text">
            <span class="year">© 2020 Aayud HMS</span>
            <span class="version">1.0.0</span>
        </div>
        <div class="col text-right">
            <a href="www.google.com" class="footer-link">Terms of Use</a>
            <a href="www.google.com" class="footer-link">Privacy Policy</a>
            <a href="www.google.com" class="footer-link">Cookie Policy</a>
        </div>
    </div>
</div>