<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title%}
    <title>HMS - {{ title }}</title>
    {% else %}
    <title>Aayud - HMS</title>
    {% endif %}

    {% if 'timezone' not in session %}
    <script type="text/javascript">
        // Send browser's timezone to server for displaying dates/times in local timezone.
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        fetch("/timezone", { method: 'POST', body: timezone });
    </script>
    {% endif %}


    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


    <!-- Stylesheets and script libraries -->
    {% if environment == 'development' %}
    <!-- If environment is local use from local server -->
    <link rel="stylesheet"
        href="{{ url_for('static', filename='node_modules/angular-material/angular-material.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.css') }}">

    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/underscore/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/angular/angular.js') }}"> </script>

    <!-- Files required for angular-chart -->
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
    <!-- Angular material libraries -->
    <script src="{{ url_for('static', filename='node_modules/angular-animate/angular-animate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/angular-aria/angular-aria.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/angular-messages/angular-messages.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/angular-material/angular-material.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    {% else %}
    <!-- If environment is other than local use from CDN -->
    <link rel="stylesheet"
        href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    {% endif %}

    <!-- Custom style sheets, should be loaded after bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/modal.css') }}">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles/simple-modal.less') }}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

    <!-- Fontawesome kit link -->
    <script src="https://kit.fontawesome.com/1d10738437.js" crossorigin="anonymous"></script>

    {{ toastr.include_toastr_js() }}

    <!-- angularjs ui-grid -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-touch.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/angular-ui/bower-ui-grid/ui-grid.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/angular-ui/bower-ui-grid/ui-grid.min.css" type="text/css">


    <!-- Add angular-charts directly as CDN for the same is slow and breaking the pages because of dependencies -->
    <!-- Minified and bundled static libraries -->
    <script src="{{ url_for('static', filename='scripts/distribution/libraries.min.js') }}"></script>

    <!-- Angular module and controllers -->
    <!-- Serve non-minified files if development and minified files if otherwise -->
    {% if environment == 'development' %}
    <script src="{{ url_for('static', filename='scripts/app/app.module.js')}}"></script>
    <!-- Custom Angular service -->
    <script src="{{ url_for('static', filename='scripts/app/sharedservices/toastr.service.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/app/sharedservices/modal.service.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/app/sharedservices/ui.modal.service.js')}}"></script>
    <!-- Custom Angular Directives -->
    <script src="{{ url_for('static', filename='scripts/app/directives/httprequest.directive.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/app/directives/currentTime.directive.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/app/directives/modal.directive.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/app/directives/simpleModal.directive.js')}}"></script>
    {% else %}
    <!-- Serve minified and bundled content on non-development environment -->
    <script src="{{ url_for('static', filename='scripts/distribution/app.module.min.js')}}"></script>
    {% endif %}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
    {{ moment.include_moment() }}
</head>

<body ng-app="app" ng-cloak>
    <div id="page-loader-div" loading>
        <img src="{{ url_for('static', filename='images/loaders/loadinfo.gif')}}" class="ajax-loader">
    </div>
    {% include 'navigation.html' %}
    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-md-8" style="min-height: calc(100vh - 300px)">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% block sidebar %}
                {% include 'sidebar.html' %}
                {% endblock %}
            </div>
        </div>
    </main>
    {% block footer%}
    <!-- Footer -->
    {% include 'footer_new.html' %}
    {% endblock %}
    {% block scripts %}
    <!-- Put all the page specific scripts here -->
    {% endblock %}
</body>

</html>